name: Build and Upload

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Run Electric Trains build script
        run: |
          chmod +x build.sh
          echo Installing pngquant...
          sudo apt-get install -y pngquant > /dev/null 2>&1
          echo Running build script...
          ./build.sh -g

      - name: Upload Built ZIP file
        uses: actions/upload-artifact@v3
        with:
          name: electric-trains-latest
          path: electric-trains-github-output.zip
